body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: rgb(255, 218, 148);
}

.quem-somos{
    background-color: orangered;
    color: white;
}

.margin{
    padding-bottom: 50px;
    margin-top: 5px;
}

.parceiros{
    background-color: rgba(248, 229, 60, 0.904);
    color: white;

}

.servicos{
    background-color: rgb(228, 128, 34);
    color: white;
}

.bg-footer{
    background-color: rgb(255, 218, 148);
    color:  rgb(34, 2, 10);
    font: Arial;
}